apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ include "bettafish.fullname" . }}-postgresql-data
  labels:
    {{- include "bettafish.labels" . | nindent 4 }}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 20Gi
  storageClassName: alicloud-disk-essd