{{- if .Values.externalEnv.postgresql.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "dify.fullname" . }}-postgresql
  labels:
    {{- include "dify.labels" . | nindent 4 }}
    app.kubernetes.io/component: postgresql
spec:
  type: ClusterIP
  ports:
    - port: {{ .Values.externalEnv.postgresql.env.DB_PORT | default 5432 }}
      targetPort: postgresql
      protocol: TCP
      name: postgresql
  selector:
    {{- include "dify.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: postgresql
{{- end }}