apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "cockpit.fullname" . }}
  labels:
    {{- include "cockpit.labels" . | nindent 4 }}
spec:
  strategy:
    type: Recreate
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "cockpit.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "cockpit.selectorLabels" . | nindent 8 }}
    spec:
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 80
              protocol: TCP
          volumeMounts:
            - name: cockpit-storage
              mountPath: /var/www/html/storage
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      volumes:
        - name: cockpit-storage
          persistentVolumeClaim:
            claimName: {{ include "cockpit.fullname" . }}-pvc
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}