#
# IMPORTANT NOTE
#
# This chart inherits from our common library chart. You can check the default values/options here:
# https://github.com/k8s-at-home/library-charts/tree/main/charts/stable/common/values.yaml
#

image:
  # -- image repository
  repository: app.image
  # -- image tag
  # @default -- chart.appVersion
  tag: 
  # -- image pull policy
  pullPolicy: IfNotPresent

# -- Configures service settings for the chart.
# @default -- See values.yaml
service:
  main:
    type: LoadBalancer
    ports:
      http:
        port: 3000
      api:
        enabled: true
        port: 9000

#  -- environment variables. See [frontend config](https://nightly.mealie.io/documentation/getting-started/installation/frontend-config/) for more details.
# @default -- See below
env:
  # -- Set the container timezone
  TZ: UTC

ingress:
  # -- Enable and configure ingress settings for the chart under this key.
  # @default -- See values.yaml
  main:
    enabled: false

# -- Configure persistence settings for the chart under this key.
# @default -- See values.yaml
persistence:
  api-data:
    enabled: true
    mountPath: /app/data/
    accessMode: ReadWriteOnce
    size: Cloudapp.Storage
    storageClass: ""

api:
  image:
    # -- image repository
    repository: app.image
    # -- image tag
    # @default -- chart.appVersion
    tag: 
    # -- image pull policy
    pullPolicy: IfNotPresent

  #  -- environment variables. See [backend config](https://nightly.mealie.io/documentation/getting-started/installation/backend-config/) for more details.
  # @default -- See below
  env:
    # -- Set the container timezone
    TZ: UTC

  #  -- volume mounts. Name should match a key in .Values.persistence
  # @default -- See below
  volumeMounts:
    - name: api-data
      mountPath: /app/data/
