---
#
# IMPORTANT NOTE
#
# This chart inherits from our common library chart. You can check the default values/options here:
# https://github.com/nicholaswilde/helm-charts/tree/main/charts/common/values.yaml
#

image:
  # -- image repository
  repository: linuxserver/mstream
  # -- image tag
  # @default -- chart.appVersion
  tag: 
  # -- image pull policy
  pullPolicy: IfNotPresent

secret: {}
  # PASSWORD: password

# See more environment variables in the template documentation
# https://github.com/IrosTheBeggar/mStream/blob/master/docs/docker.md
env: {}
  # TZ:

service:
  type: LoadBalancer
  port:
    port: 3000

ingress:
  enabled: false

persistence:
  config:
    enabled: false
    emptyDir: false
    mountPath: /config
    storageClass: ""
    size: 20Gi
  music:
    enabled: false
    emptyDir: false
    mountPath: /music
    accessMode: ReadWriteOnce
    storageClass: ""
    size: 20Gi
