apiVersion: v1
kind: Service
metadata:
  name: {{ include "beifong.fullname" . }}-redis
  labels:
    {{- include "beifong.labels" . | nindent 4 }}
    app.kubernetes.io/component: redis
spec:
  type: ClusterIP
  ports:
    - port: 6379
      targetPort: redis
      protocol: TCP
      name: redis
  selector:
    {{- include "beifong.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: redis
