apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ include "coral-talk.fullname" . }}-mongo
  labels:
    {{- include "coral-talk.labels" . | nindent 4 }}
spec:
  serviceName: {{ include "coral-talk.fullname" . }}-mongo
  replicas: 1
  selector:
    matchLabels:
      app: mongodb
  template:
    metadata:
      labels:
        app: mongodb
    spec:
      containers:
        - name: mongodb
          image: "{{ .Values.mongodb.image.repository }}:{{ .Values.mongodb.image.tag }}"
          ports:
            - containerPort: {{ .Values.mongodb.containerPort }}
          volumeMounts:
            - name: mongo-storage
              mountPath: /data/db
          resources:
            {{- toYaml .Values.mongodb.resources | nindent 12 }}
      volumes:
        - name: mongo-storage
          persistentVolumeClaim:
            claimName: mongo-pvc