global:
  imagePullPolicy: IfNotPresent

app:
  enabled: true
  replicaCount: 2

  image:
    repository: cherrystudio/cherry-studio-enterprise-api
    kubectlImage: bitnami/kubectl:latest

  autoscaling:
    enabled: true
    minReplicas: 1
    maxReplicas: 10

  env:
    API_PORT: 3670
    ADMIN_PORT: 3680
    API_URL: "YOUR_API_URL"
    ADMIN_APP_NAME: Cherry Studio
    ADMIN_APP_LOGO_URL: https://edas-hz.oss-cn-hangzhou.aliyuncs.com/edas-apps/charts-store/cherry-studio-enterprise/image/logo.webp
    ADMIN_BASE_PATH: /
    JWT_SECRET: "YOUR_JWT_SECRET"
    DB_HOST: "YOUR_DB_HOST"
    DB_PORT: "YOUR_DB_PORT"
    DB_USERNAME: "YOUR_DB_USERNAME"
    DB_PASSWORD: "YOUR_DB_PASSWORD"
    DB_NAME: "YOUR_DB_NAME"
    DB_TYPE: postgres
    DB_SSL: false

  persistence:
    enabled: true
    accessMode: ReadWriteOnce
    storageClass: ""
    size: 50Gi
    mountPath: /app/data

  api:
    service:
      type: LoadBalancer
      port: 3670
      targetPort: 3670
    ingress:
      enabled: false
      annotations:
        nginx.ingress.kubernetes.io/proxy-body-size: "20m"
      hosts:
        - host: "YOUR_API_URL"
          paths:
            - path: /
              pathType: ImplementationSpecific

  admin:
    service:
      type: LoadBalancer
      port: 3680
      targetPort: 3680
    ingress:
      enabled: false
      annotations:
        nginx.ingress.kubernetes.io/proxy-body-size: "20m"
      hosts:
        - host: "YOUR_ADMIN_URL"
          paths:
            - path: /
              pathType: ImplementationSpecific

  resources:
    limits:
      cpu: 4000m
      memory: 8000Mi
    requests:
      cpu: 2000m
      memory: 4000Mi

  livenessProbe:
    httpGet:
      path: /
      port: api
    initialDelaySeconds: 30
    periodSeconds: 10
    timeoutSeconds: 5
    failureThreshold: 3

  readinessProbe:
    httpGet:
      path: /
      port: api
    initialDelaySeconds: 5
    periodSeconds: 5
    timeoutSeconds: 3
    failureThreshold: 3

postgresql:
  image:
    repository: postgres
    tag: 15.3.0
  database: cherry_studio_enterprise
  username: cherry_studio
  password: cherry_studio_password
  resources: {}
  persistence:
    enabled: true
    accessMode: ReadWriteOnce
    storageClass: ""
    size: 20Gi

externalEnv:
  postgresql:
    enabled: true
    env:
      DB_HOST: cherry-studio-enterprise-postgresql
      DB_PORT: "5432"
      DB_USERNAME: "cherry_studio"
      DB_PASSWORD: "cherry_studio_password"
      DB_NAME: "cherry_studio_enterprise"
      DB_SSL: false