apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "thumbor.fullname" . }}
  labels:
    {{- include "thumbor.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "thumbor.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "thumbor.selectorLabels" . | nindent 8 }}
    spec:
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 8888
              protocol: TCP
          env:
            - name: SECURITY_KEY
              valueFrom:
                secretKeyRef:
                  name: {{ include "thumbor.fullname" . }}-secret
                  key: securityKey
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}